html, body {
  background-color: #f8f8f8;
}
form {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px -2px #ccc;
}
.float-left {
  float:left;
}

.w100 {
  display: inline-block;
  width:100%;
}

.preface {
  margin: 15px;
}

.btn-secondary.active {
  background-color: #f7923a !Important;
  color: #fff;
  border: 1px solid #888888;
}

.card {
  border: none;
}

.ti-10 {
  text-indent: 10px;
}