
<form name="form" >
	<div class="w100">
		<div class="float-left ml-4">
			<img src="images/logo.png"></img>
		</div>
		<div class="ml-4">
			<h1 class="display-3 p-3 ti-10">Welcome to PDL</h1>			
		</div>
		<div class="float-left row" ng-show="!submitted()">
			<span class="preface mx-5">Start your application for PDL membership by completing the details below, then click ‘Submit’ and follow the prompts. PDL membership includes your professional indemnity insurance cover. Membership renewal is due 4pm on 30th April annually. If you are already a PDL member please login to the member portal to renew.</span>
		</div>
		<div class="float-left row ml-5" ng-show="!submitted()">
			<h4 class="card-title">Non-Propreitor Pharmacists Liabilities Insurance Master Policy</h4>
		</div>
	</div>	
	<fieldset ng-show="!submitted()" ng-disabled="processingQuote">
		<div>
			<div class="card">
				<div class="card-block">
					
					<h4 class="class-title">I'm a</h4>
					<div class="text-center row">
						<div class="col-sm-6">
							<button type="button" class="btn btn-secondary btn-block" ng-model="quote.product.id" ng-click="select(item)" uib-btn-radio="'pdl-p-pi'">Pharmacist</button>
						</div>
						<div class="col-sm-6">
							<button type="button" class="btn btn-secondary btn-block" ng-model="quote.product.id" ng-click="select(item)" uib-btn-radio="'pdl-s-pi'">Student/Intern</button>
						</div>
					</div>
				</div>
			</div>		
		
		<div class="card" ng-show="quote.product.id">
			<div class="card-block">
				<h4 class="class-title">Your Duty of Discolsure</h4>
				<p class="card-text">Before you enter into an insurance contract, you have a duty of disclosure under the Insurance Contracts Act 1984.
If we ask you questions that are relevant to our decision to insure you and on what terms, you must tell us anything that you know and that a reasonable person in the circumstances would include in answering the questions.
You have this duty until we agree to insure you.</p>
				<button type="button" class="btn btn-secondary float-right" ng-model="dutyAccepted" uib-btn-radio="true">Accept</button>
			</div>
			<div class="card" ng-show="quote.product.id">
				<div class="card-block">
					<h4 class="class-title">Insurance Questions</h4>					
						<p class="card-text">Has any one to be insured or named to be insured ever been declined from insurace</p>
						<div class="float-right">
							<button type="button" class="btn btn-secondary" ng-model="quote.neverDeclined" uib-btn-radio="'true'">Yes</button>
							<button type="button" class="btn btn-secondary" ng-model="quote.neverDeclined" uib-btn-radio="'false'">No</button>
						</div>															
				</div>				
			</div>		
		


			<div class="card" ng-show="dutyAccepted && quote.neverDeclined == 'false'">
				<div class="card-block">
					<h4 class="card-title">Insurance Details</h4>

					<div class="row">
						<div class="col-sm-8">
							<div class="form-group row">
								<label for="insuranceStartDate" class="col-sm-4 col-form-label">Insurance Start Date</label>
								<div class="col-sm-8">
									<div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
										<input type="text" ng-model="quote.startDate" class="form-control" id="insuranceStartDate" aria-describedby="insuranceStartDateHelp" placeholder="Enter insurance start date">
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
									<small id="insuranceStartDateHelp" class="form-text text-muted">* Please note that PDL Renewals run annually at 4pm on 30 April.</small>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>

			<div class="card" ng-show="dutyAccepted && quote.neverDeclined == 'false'">
				<div class="card-block">
					<h4 class="class-title">Applicant details</h4>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group row">
								<label for="title" class="col-sm-4 col-form-label">Title</label>
								<div class="col-sm-8">
									<select class="form-control" id="title" ng-options="t as t for t in titles" ng-model="lead.title.id"></select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group row">
								<label for="fullNames" class="col-sm-4 col-form-label">Full Names</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="fullNames" placeholder="Enter full name" ng-model="lead.name">
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group row">
								<label for="surname" class="col-sm-4 col-form-label">Surname</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="surname" placeholder="Enter surname" ng-model="lead.surname">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group row">
								<label for="dob" class="col-sm-4 col-form-label">Date of Birth</label>
								<div class="col-sm-8">
									<div class="input-group date" data-provide="datepicker" data-date-end-date="0d" data-date-format="yyyy-mm-dd">
										<input type="text" class="form-control" id="dob" placeholder="Enter date of birth" ng-model="lead.dateOfBirth">
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group row">
								<label for="email" class="col-sm-4 col-form-label">Email</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="lead.email">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group row">
								<label for="mobilePhone" class="col-sm-4 col-form-label">Phone (M)</label>
								<div class="col-sm-8">
									<input type="tel" class="form-control" id="mobilePhone" placeholder="Enter mobile phone" ng-model="lead.mobile">
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group row">
								<label for="housePhone" class="col-sm-4 col-form-label">Phone (H)</label>
								<div class="col-sm-8">
									<input type="tel" class="form-control" id="housePhone" placeholder="Enter house phone">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group row">
								<label for="bPhone" class="col-sm-4 col-form-label">Phone (B)</label>
								<div class="col-sm-8">
									<input type="tel" class="form-control" id="bPhone" placeholder="Enter phone">
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group row">
								<label for="fPhone" class="col-sm-4 col-form-label">Phone (F)</label>
								<div class="col-sm-8">
									<input type="tel" class="form-control" id="fPhone" placeholder="Enter fax">
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="card" ng-show="dutyAccepted && quote.neverDeclined == 'false'">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-6">
							<h4 class="class-title">Physical Address</h4>

							<div class="form-group row">								
								<div class="col-sm-12">
									<input type="text" class="form-control" id="unit" ng-model="chosenPlace" details="quote.property" googleplace />
								</div>
							</div>
							<!--
							<div class="form-group row">
								<label for="unit" class="col-sm-4 col-form-label">Unit/ Lot No.</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="unit" placeholder="Enter unit/ lot no.">
								</div>
							</div>

							<div class="form-group row">
								<label for="street" class="col-sm-4 col-form-label">Street Address</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="street" placeholder="Enter street address">
								</div>
							</div>

							<div class="form-group row">
								<label for="suburb" class="col-sm-4 col-form-label">Suburb</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="suburb" placeholder="Enter suburb">
								</div>
							</div>

							<div class="form-group row">
								<label for="state" class="col-sm-4 col-form-label">State</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="state" placeholder="Enter state">
								</div>
							</div>
						-->
						</div>
						<div class="col-sm-6">
							<h4 class="class-title">Postal Address</h4>

							<div class="form-group row">
								<label for="postalUnit" class="col-sm-4 col-form-label">Unit/ Lot No.</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="postalUnit" placeholder="Enter unit/ lot no.">
								</div>
							</div>

							<div class="form-group row">
								<label for="postalStreet" class="col-sm-4 col-form-label">Street Address</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="postalStreet" placeholder="Enter street address">
								</div>
							</div>

							<div class="form-group row">
								<label for="postalSuburb" class="col-sm-4 col-form-label">Suburb</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="postalSuburb" placeholder="Enter suburb">
								</div>
							</div>

							<div class="form-group row">
								<label for="postalState" class="col-sm-4 col-form-label">State</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="postalState" placeholder="Enter state">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="card" ng-show="dutyAccepted && quote.neverDeclined == 'false'">
				<div class="card-block">
					<h4 class="class-title">Role Description</h4>
					<div class="form-group row">
						<label for="role" class="col-sm-4 col-form-label">Select your role</label>
						<div class="col-sm-8">
							<select class="form-control" id="role" ng-model="quote.roleType" ng-options="r as r for r in roles" ></select>
						</div>
					</div>

					<div class="form-group row">
						<label for="pharmacyName" class="col-sm-4 col-form-label">Pharmacy/ Organisation Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="postalStreet" placeholder="Enter pharmacy/ organisation name" ng-model="lead.landlordCompany">
						</div>
					</div>

					<div class="form-group row">
						<label for="ahpraNumber" class="col-sm-4 col-form-label">AHPRA Registration Number</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="ahpraNumber" aria-describedby="ahpraNumberHelp" placeholder="Enter AHPRA registration number" ng-model="lead.landlordABN">
							<small id="ahpraNumberHelp" class="form-text text-muted">* AHPRA is short for Australian Health Practitioner Regulation Agency</small>
						</div>
					</div>
				</div>
			</div>
			
			</div>
			
			
		</div>
		<div class="card" ng-show="quote.roleType">
			<div class="card-block">
				<div class="float-right">
					<button type="button" ng-show="quote.roleType" class="btn btn-secondary btn-block" ng-click="priceQuote()" >Get Quote</button>
				</div>
			</div>
		</div>

		<div ng-show="quotePriced">
			<div class="card">
				<div class="card-block">
					<h4 class="class-title">Quote Information</h4>

					<div class="col-sm-10">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Quote Number</label>
							<label class="col-sm-8 col-form-label">{{quote.quoteNumber}}</label>
						</div>

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Policy Type</label>
							<label class="col-sm-8 col-form-label">Non Property Pharmacist Liability Insurance Master Policy</label>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Period of Cover</label>
							<label class="col-sm-8 col-form-label">{{quote.startDate | date : "dd/MM/yyyy"}} - {{quote.endDate | date : "dd/MM/yyyy"}} at 4:00pm</label>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Policy Number of Terms</label>
							<label class="col-sm-8 col-form-label">{{quote.months}}</label>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Premium</label>
							<label class="col-sm-8 col-form-label">$ {{quote.premium.totalAnualPremium}}</label>
						</div>						
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-block">
					<h4 class="class-title">Payment Options</h4>

					
						
						<div class="text-center row">
							<div class="col-sm-6">
								<button type="button" class="btn btn-secondary btn-block" ng-model="paymentDetails.paymentFrequency" uib-btn-radio="'Y'" ng-click="defaultCreditCard()">Once Off Payment of <b>$ {{quote.premium.totalAnualPremium}}</b></button>
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-secondary btn-block" ng-model="paymentDetails.paymentFrequency" uib-btn-radio="'M'" ng-show="1 < quote.months"><b>{{quote.months}}</b> Payments of <b>$ {{quote.premium.totalMonthPremium}}</b> monthly </button>
							</div>
						</div>						
						<!--
						<div>
							<div class="form-group row">
								<label for="totalPremium" class="col-sm-4 col-form-label">Total Premium</label>
								<div class="col-sm-8">
									<div class="input-group date">
										<span class="input-group-addon">
											<i class="fa fa-dollar"> </i>
										</span>
										<input type="text" class="form-control text-right" id="totalPremium" value="{{quote.price}}" disabled="true">
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="term" class="col-sm-4 col-form-label">Term</label>
								<div class="col-sm-8">
									<div class="input-group date">
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control text-right" id="term" value="{{quote.months}} months" disabled="true">
									</div>
								</div>
							</div>
							
							<div class="row">
								<button type="button" class="btn btn-secondary ml-auto">Accept</button>
							</div>
						-->
						
					</div>

					<!--
					<div class="card">
						<div class="card-block">
							<p>Professional Idemity Limit of Liability</p>
							blah blah blah
						</div>
					</div>

					<div class="card">
						<div class="card-block">
							<p>Public and Products Liability</p>
							blah blah blah
						</div>
					</div>
				-->
				</div>
			</div>

			<div class="card" ng-show="paymentDetails.paymentFrequency">
				<div class="card-block">					

					<div class="col-sm-10">
						<div class="pb-3">
							<div class="form-group row">
								<label for="paymentMethod" class="col-sm-4 col-form-label">Payment Method</label>
								<div class="col-sm-8">
									<button type="button" class="btn btn-secondary" ng-model="paymentDetails.paymentType" uib-btn-radio="'credit-card'">Credit Card</button>
									<button type="button" class="btn btn-secondary" ng-model="paymentDetails.paymentType" uib-btn-radio="'direct-debit'" ng-show="paymentDetails.paymentFrequency == 'M'">Direct Debit</button>
								</div>
							</div>

							<div class="form-group row" ng-show="paymentDetails.paymentType == 'direct-debit'">
								<label for="accountName" class="col-sm-4 col-form-label">Account Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="accountName" ng-model="paymentDetails.accountName">
								</div>
							</div>
							
							<div class="form-group row" ng-show="paymentDetails.paymentType == 'direct-debit'">
								<label for="accountBsb" class="col-sm-4 col-form-label">Account BSB</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="accountBsb" ng-model="paymentDetails.accountBsb">
								</div>
							</div>								

							<div class="form-group row" ng-show="paymentDetails.paymentType == 'direct-debit'">
								<label for="accountNumber" class="col-sm-4 col-form-label">Account Number</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="accountNumber" ng-model="paymentDetails.accountNumber">
								</div>
							</div>						

							<div class="form-group row" ng-show="paymentDetails.paymentType == 'credit-card'">
								<label for="creditCardName" class="col-sm-4 col-form-label">Name on Credit Card</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="creditCardName" ng-model="paymentDetails.creditCardName">
								</div>
							</div>

							<div class="form-group row" ng-show="paymentDetails.paymentType == 'credit-card'">
								<label for="creditCardNumber" class="col-sm-4 col-form-label">Credit Card Number</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="creditCardNumber" ng-model="paymentDetails.creditCardNumber">
								</div>
							</div>

							<div class="form-group row" ng-show="paymentDetails.paymentType == 'credit-card'">
								<label for="expiry" class="col-sm-4 col-form-label">Expiry</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="expiry" ng-model="paymentDetails.expiry">
								</div>
							</div>

							<div class="form-group row" ng-show="paymentDetails.paymentType == 'credit-card'">
								<label for="cvv" class="col-sm-4 col-form-label">CVV</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="cvv" ng-model="paymentDetails.cvv">
								</div>
							</div>

							<small class="form-text text-muted">* Please note a surcharge of 1.25% for VISA and MasterCard, and 2.95% for AMEX cards will be added to the transaction.
							</small>
						</div>

						<p ng-show="paymentDetails.paymentFrequency == 'M'">
							<span class="font-weight-bold">Premium Funding Terms and Conditions</span>
							<br> The Borrower(s) named above apply for the policies to be funded have checked the above details and declare they are
							true and correct; and:
							<ul  ng-show="paymentDetails.paymentFrequency == 'M'">
								<li>understand that there is no loan contract until this application is accepted by Attvest;</li>
								<li>direct and authorise Attvest to advance the loan funds by paying them to the Insurer or intermediary of the Insurer;</li>
								<li>if an event of default occurs, assign all of their rights and interest in, and in connection with, the policy or
									policies specified above or in any attached list, including the right to any claim or proceeds or premium refund
									payable under the policies and all of their statutory rights and entitlements in connection with such policy or
									policies, as security for the payment to Attvest of all money payable by them under this loan application;</li>
								<li>acknowledge that the sole and mandatory purpose of the loan is to fund the insurance premiums per the schedule above;</li>
							</ul>
						</p>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="quoteAccepted"> I agree with the Terms and Conditions</label>
							</div>
						</p>
					</div>
				</div>
				<div class="card" ng-show="quoteAccepted">
					<div class="card-block">
						<div class="float-right">
							<button type="button" ng-show="quoteAccepted" class="btn btn-secondary" ng-click="acceptQuote()" >Process Payment																
							</button>														
							<md-progress-circular style="display:inline-block;padding-top:30px;" md-mode="indeterminate" ng-show="processingQuote" class="md-warn md-hue-3" md-diameter="30"></md-progress-circular>
						</div>
					</div>
				</div>				
			</div>
		</div>			
				
	</fieldset>	
	<div>
		<div class="card" ng-show="submitted()">
			<img width="100%" height="180" src="images/Member-Registration-Top-Banner.jpg">			
			<div class="col-sm-12 px-5">
				<h3>Thank you for your submission. All relevent documentation will be emailed to you shortly.</h3>
			</div>
			<div class="col-sm-12 px-5">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Policy Number</label>
					<label class="col-sm-8 col-form-label">{{policy.policyNumber}}</label>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Insured</label>
					<label class="col-sm-8 col-form-label">{{lead.name}} {{lead.surname}}</label>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Period of Cover</label>
					<label class="col-sm-8 col-form-label">{{quote.startDate | date : "dd/MM/yyyy"}} - {{quote.endDate | date : "dd/MM/yyyy"}} at 4:00pm</label>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Policy Number of Terms</label>
					<label class="col-sm-8 col-form-label">{{quote.months}}</label>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Payment Frequency</label>
					<label class="col-sm-8 col-form-label">{{getPaymentFrequency(paymentDetails.paymentFrequency)}}</label>
				</div>					
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Premium</label>
					<label class="col-sm-8 col-form-label">$ {{quote.premium.totalAnualPremium}}</label>
				</div>						
			</div>
		</div>		
	</div>	
</form>