<div class="content">
	<fieldset class="m-top-100">
		<div class="form-header form-top">Please enter your quote reference to proceed</div>
		<div class="form-group section">	
			<div class="form-group row">
				<label class="message w-100" style="text-align: center;" ng-show="false">Please enter a valid quote reference.</label>
			</div>				
			<div><label style="width:30%; text-align:right;">Quote Reference:</label><input  /></div>
			<div style="margin-left: 17%;"><button class="btn btn-orange" ng-click="submitLead()">Proceed with Funding</button></div>												
		</div>
	</fieldset>	
</div>	